In [1]:
import pandas

In [2]:
df = pandas.read_csv('../raw_data/EW_STT_1995ff.csv', sep=';')
df

,STT_ID,STT,1995,1996,1997,1998,1999,2000,2001,2002,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,10,Altstadt,10.815,10.839,10.790,10.666,10.525,10.669,10.740,10.859,...,11.947,11.987,11.950,12.064,12.116,12.138,12.080,11.952,12.129,12.311
1,20,Paradies,4.856,4.988,5.001,4.976,4.988,5.029,5.113,5.366,...,6.032,6.122,6.116,6.161,6.113,6.097,5.994,6.009,6.202,6.023
2,30,Petershausen-West,12.494,12.746,12.556,12.266,12.457,12.348,12.417,12.542,...,14.891,15.347,15.552,15.616,16.002,16.021,15.820,16.082,16.309,16.175
3,35,Petershausen-Ost,6.285,6.357,6.269,6.274,6.277,6.267,6.274,6.393,...,7.067,7.120,7.156,7.187,7.273,7.248,7.270,7.245,7.267,7.332
4,40,Königsbau,5.130,5.360,5.359,5.337,5.269,5.397,5.490,5.408,...,5.773,5.853,6.146,6.194,6.248,6.181,6.254,6.507,6.669,6.590
5,50,Allmannsdorf,4.742,4.733,4.762,4.757,4.769,4.859,4.919,4.991,...,5.293,5.315,5.305,5.334,5.341,5.348,5.308,5.328,5.421,5.416
6,60,Staad,1.717,1.699,1.685,1.682,1.651,1.635,1.677,1.645,...,1.813,1.797,1.807,1.813,1.793,1.779,1.840,1.816,1.846,1.814
7,70,Fürstenberg,11.233,11.161,11.513,11.519,11.593,11.428,11.488,11.509,...,11.747,12.022,12.233,12.433,12.346,12.500,12.369,12.382,12.465,12.490
8,80,Wollmatingen,3.622,3.826,4.062,4.426,4.749,4.944,5.008,5.111,...,6.613,6.683,6.876,6.795,6.784,6.775,6.742,6.667,6.645,6.743
9,90,Industriegebiet,926.000,898.000,895.000,876.000,850.000,822.000,847.000,877.000,...,951.000,1.024,1.081,1.108,1.093,1.048,990.000,1.002,1.102,1.215
10,100,Egg,415.000,454.000,447.000,481.000,469.000,509.000,556.000,589.000,...,770.000,757.000,779.000,761.000,763.000,812.000,788.000,805.000,833.000,805.000
11,110,Litzelstetten,3.744,3.721,3.779,3.706,3.707,3.695,3.684,3.733,...,3.870,3.819,3.841,3.814,3.831,3.861,3.823,3.785,3.820,3.818
12,120,Dingelsdorf,2.000,2.015,2.003,2.053,2.008,2.049,2.019,2.006,...,2.122,2.142,2.137,2.131,2.094,2.098,2.082,2.056,2.075,2.078
13,130,Dettingen,3.111,3.106,3.077,3.040,3.033,3.061,3.046,3.023,...,3.124,3.141,3.348,3.334,3.270,3.289,3.342,3.399,3.422,3.420
14,140,Wallhausen,1.144,1.148,1.140,1.152,1.094,1.092,1.119,1.128,...,1.166,1.161,1.151,1.147,1.123,1.137,1.135,1.129,1.150,1.130

In [3]:
df.melt(id_vars=['STT_ID', 'STT'], var_name='Jahr', value_name='Einwohner')

     STT_ID                STT  Jahr  Einwohner
0        10           Altstadt  1995     10.815
1        20           Paradies  1995      4.856
2        30  Petershausen-West  1995     12.494
3        35   Petershausen-Ost  1995      6.285
4        40          Königsbau  1995      5.130
..      ...                ...   ...        ...
430     100                Egg  2023    805.000
431     110      Litzelstetten  2023      3.818
432     120        Dingelsdorf  2023      2.078
433     130          Dettingen  2023      3.420
434     140         Wallhausen  2023      1.130

[435 rows x 4 columns]